p{
    color: blue;
}

.zagolovok{
    background-color: blueviolet;
}

#header{
    font-size: 70px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005f6b;
}

a{
color: chartreuse;
}

a:hover{
color: brown;
}

p{
    color:#333;
    /* border-bottom: 3px solid green; */
}


li{
    background-color: grey;
}

body{
    background-color: #f0f8ff;
}

h2{
    color: #005f6b;
    /* font-style: italic; */
}

/* @keyframes button {
    50% {transform: scale(1.5, 1.5);}
    100% {transform: scale(0.75, 0.75);} */



button:hover {
    animation-name: button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #376c86;
    
   }

  button{
    background-color: #f0f8ff;
    border-radius: 50px
    
    padding-left: 6px;
    border-left-width: 6px;
    margin-left: 159px;
    border-radius: 50px;
    padding: :left 50px;
  }
